<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WeatherWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WeatherWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webxml.com.cn/Webservices/WeatherWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeatherWebServiceSoap"
                contract="ServiceReference1.WeatherWebServiceSoap" name="WeatherWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>